<?xml version="1.0"?>
<launch>

  <include file="$(find racecar)/launch/teleop.launch"/>
  <node pkg="wall_following" name="pid_error_node" type="pid_error.py"/> 
  <node pkg="wall_following" name="control_node" type="control.py"/>    
  <node pkg="group1_roslab" name="Race_node" type="race.py" output="screen"/>
</launch>
